 <table class=>
  <h2>User info</h2>
   <%= image_tag current_user.get_profile_image(100,100) %>
   <p>name</p>
   <p><%= current_user.name %></p>
   <p>introduction</p>
   <p><%= current_user.introduction %></p>
   <div>
  <%= link_to 'edit', edit_user_path(current_user.id) %>
  </div>