 <table class="table table-bordered">
  <h2>User info</h2>
   <%= image_tag current_user.get_profile_image(100,100) %>
   <p>name</p>
   <p><%= current_user.name %></p>
   <p>introduction</p>
   <p><%= current_user.introduction %></p>
 </table>
   <div class="d-grid mx-auto">
    <button class="btn btn-light btn-block" type="button">
    <%= link_to  "<i class='fas fa-user-cog'></i>".html_safe, edit_user_path(current_user.id) %>
    </button>
    </div>