<div>
  <%= flash[:notice] %>
</div>
<div class = "container p-3">
<div class = "d-flex align-items-center justify-content-center">
<h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>

</div>
</div>