<table class="table table-striped">
   <h2>User info</h2>
   <%= image_tag book.user.get_profile_image(100,100) %>
   <p>name</p>
   <p><%= book.user.name %></p>
   <p>introduction</p>
   <p><%= book.user.introduction %></p>
    <div class="d-grid mx-auto">
    <button class="btn btn-light btn-block" type="button">
    <%= link_to "<i class='fa-solid fa-user-cog'></i>".html_safe, edit_user_path(book.user.id) %>
    </button>
    </div>
 </table>