<h1>welcome to Bookers !!</h1>
<p>In Bookers</p>
<p>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</P>
<%= link_to 'Log in', , class: "btn btn-seccondary" >
<%= link_to 'Sign up', , class: "btn btn-seccondary" >